.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*height: 100vh;*/

    padding: 2rem;
}

.about-img-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30rem;
}

.about-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-page-text {
    margin-top: 1rem;
}

.about-page-text h1 {
    font-family: Retaliation, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-page-text strong {
    /*font-size: 1.5rem;*/
    font-weight: 500;
    color: var(--accent);
}