.email-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-sign-up form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.email-sign-up h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}