.product-page {
    display: flex;
    justify-content: space-evenly;

    height: max(100vh, 100%);

    padding: 2rem;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex-grow: 1;
}

.current-img-cont {
    border: 1px solid #e0c2cd;
    border-radius: 0.25rem;
    width: 40rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.current-img {
    height: 40rem;
}

.pp-imgs-cont {
    display: flex;
    gap: 1rem;

    /*align-items: center;*/
    justify-content: center;

    height: max-content;

    flex-grow: 1;


}

.pp-imgs {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.pp-imgs img {
    width: 4rem;
    height: 5rem;
    object-fit: cover;

    border: 1px solid #e0c2cd;

    transition: border 0.3s ease;
}

.pp-imgs img:hover {
    cursor: pointer;
    border: 1px solid var(--accent);
}

.left-arrow, .right-arrow {
    display: none;
}

.item-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-option-values {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-option-value {
    border: 1px solid var(--main);
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 2rem;

    display: flex;
    justify-content: center;

    transition: all 0.3s ease;
}

.product-option-value:hover {
    cursor: pointer;
    border: 1px solid var(--accent);
}

.selected-option {
    border: 1px solid var(--accent);
    color: var(--accent);
}

.add-to-cart {
    padding: 0.5rem;
    width: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.product-quantity {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;

    align-items: center;

    border: 1px solid var(--main);

    width: max-content;
}

.product-quantity span {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    transition: all 0.3s ease;

    user-select: none;
}

.product-quantity span:hover {
    color: var(--accent);
    cursor: pointer;
}

.product-quantity span:active {
    transform: scale(0.9);
}

@media (max-width: 600px) {
    .product-page {
        flex-direction: column;
        gap: 1rem;

    }

    .current-img-cont {
        width: 20rem;
    }

    .current-img {
        height: 20rem;
    }

    .pp-imgs-cont {
        align-self: center;
        align-items: center;

        height: 10rem;
    }

    .pp-imgs {
        display: none;
    }

    .current-img-cont {
        border: none;
    }

    .left-arrow, .right-arrow {
        height: 2rem;
        width: 2rem;
        font-size: 3rem;
        /*border: 2px solid var(--main);*/
        border-radius: 50%;
        /*padding: 10px;*/

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.3s ease;

        user-select: none;
    }

    .left-arrow {
        position: relative;
        left: 1.5rem;
    }

    .right-arrow {
        position: relative;
        right: 1.5rem;
    }

    .left-arrow:hover, .right-arrow:hover {
        cursor: pointer;
        /*border: 2px solid var(--accent);*/
        color: var(--accent);
    }

    .left-arrow:active, .right-arrow:active {
        transform: scale(0.9);
    }
}