.product-card {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    width: 18rem;
    height: 27rem;
    padding: 0.5rem;

    background-color: #fff;
}

.product-card img {
    height: 20rem;
    object-fit: cover;
}

.product-text-info h3 {
    text-decoration: none;
}

.compare-at-price {
    text-decoration: line-through;
    opacity: 0.5;
}