.product-card {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    width: 17rem;
    height: 25rem;
    padding: 0.5rem;

    background-color: var(--background);

    border: 1px solid transparent;
    border-radius: 3px;

    transition: border 0.3s ease;
}

.product-card:hover {
    border: 1px solid var(--main);
}

.product-card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.product-text-info h3 {
    text-decoration: none;
}

.compare-at-price {
    text-decoration: line-through;
    opacity: 0.5;
}