.shop-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    height: max(100vh, 100%);

}

.shop-page h1 {
    font-family: Retaliation, sans-serif;
    margin-bottom: 2rem;
}