main {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 0 1rem;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem 0;

    gap: 1rem;

    font-family: Retaliation, sans-serif;
    font-size: max(1.5rem, 2vw);
}

.countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page {
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 2rem;

    height: 95vh;
}

.landing-page-logo {
    height: 7rem;
    width: 7rem;
}

.lp-logo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}