:root {
    --background: #f5f5f5;

}

@font-face {
    font-family: 'Retaliation';
    src: url('/assets/fonts/Retaliation/massive_retaliation.otf');
}

@font-face {
    font-family: 'Afacad';
    src: url('/assets/fonts/Afacad/Afacad-VariableFont_wght.ttf');
}

html,
body {
    overflow-x: hidden;

    font-size: 16px;
    font-family: Afacad, sans-serif !important;

}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}



@media (max-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    html, body {
        font-size: 12px;
    }
}

button {
    all: unset;

    cursor: pointer;

    border: 1px solid #000;
    padding: 4px 8px;
    border-radius: 4px;

    background: #000;
    color: #fff;

    transition: all 0.1s;
}

button:hover {
    background: #fff;
    color: #000;
}

button:active {
    background: #000;
    color: #db2b6c;
}

input {
    all: unset;

    padding: 4px 8px;
    border: 1px solid #000;
    border-radius: 4px;

    transition: all 0.1s;

    cursor: text;
}

textarea {
    all: unset;

    padding: 4px 8px;
    border: 1px solid #000;
    border-radius: 4px;

    height: 5rem;
    resize: vertical;

    transition: all 0.1s;

    cursor: text;

}

input:focus, textarea:focus {
    border: 1px solid #db2b6c;
}

/** {*/
/*    background: #000 !important;*/
/*    color: #0f0 !important;*/
/*    outline: solid #f00 1px !important;*/
/*  }*/